body {
  direction: rtl;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  
}

button {
  padding: 5px;
  margin: 0 4px;
  min-width: 60px
}

section {
  border: 2px solid blue;
}

header {
  color: green;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

ol > li {
  margin: 5px 0;
}

ol > li ul {
  padding: 0;
  list-style-type: disc;
  cursor: pointer;
}

ol, ul {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.answers .clicked, .answers .revealed {
  color: red;
}
.answers .clicked.correct, .answers .revealed.correct {
  color: green;
}
.answers .revealed.correct {
  font-weight: bold
}
.footer {
  text-align: center;
}
.results {
  display: flex;
  justify-content: space-around;
}

.results span {
  margin: 2px 15px;
}
.results .correct {
  color: green;
}
.results .wrong {
  color: red;
}

.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.hide {
  display: none;
}