body {
  direction: rtl;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  
}

button {
  padding: 5px;
  margin: 0 5px;
  min-width: 80px
}

section {
  border: 2px solid blue;
}

header {
  color: green;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

ol > li {
  margin: 5px 0;
}

ol > li ul {
  padding: 0;
  list-style-type: disc;
  cursor: pointer;
}

ol, ul {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.footer {
  text-align: center;
}
.results {
  display: flex;
  justify-content: space-between
}

.results span {
  margin: 2px 15px;
}
.results .correct {
  color: green;
}
.results .wrong {
  color: red;
}