<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Right Wrong</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
		<script src="https://code.jquery.com/jquery-2.0.3.js"></script>
		<script src="autobind.js"></script>
		<link rel="stylesheet" href="index.css" />
    <script type="text/x-template" id="x-slider">
      <div>
        <x-slide v-for="(slide, index) in slides"
          v-show="isShow(index)"
          :title="slide.title"
          :questions="slide.questions"
          >
        </x-slide>
      </div>
    </script>    
    <script type="text/x-template" id="x-slide">
      <section>
        <x-slide-header :title="title" />
        <x-slide-body :questions="questions" />
      </section>
    </script>
    <script type="text/x-template" id="x-slide-header">
      <header>
        <p v-for="line in title">{{line}}</p> 
      </header>
    </script>
    <script type="text/x-template" id="x-slide-body">
      <article>
        <ol class="questions">
          <li is="x-slide-question" v-for="question in questions" 
            :text="question.text"
            :answers="question.answers"
            :bonus="question.bonus"
            ></li>
        </ol>
      </article>
    </script>
    <script type="text/x-template" id="x-slide-question">
      <li>
        <span class="bold" v-if="bonus">בונוס - </span>{{text}}
        <ul class="answers">
          <li is="x-slide-answer" v-for="answer in answers"
            :text="answer.text"
            :correct="answer.correct"
            :handled="handled"
            @correct="correct"
          ></li>
        </ul>
      </li>
    </script>
    <script type="text/x-template" id="x-slide-answer">
      <li :class="{correct, clicked}" @click.prevent.stop="clickHandler">
        {{text}}
      </li>
    </script>
	</head>
  <body>
    <div id="buttons" class="buttons">
      <button @click="next">הבא</button>
      <button @click="prev">הקודם</button>
      <button @click="showAll">הצג הכל</button>
      <button @click="showResults">סיכום</button>
    </div>
    
    <div id="vue-slider"></div>
    
    <footer id="total" class="total" v-show="manager.isShowResults">
      <p class="text-center bold">סיכום</p>
      <div class="results">
        <span class="correct" title="תשובות נכונות">
          {{correct}}
        </span>
        <span class="wrong" title="שגיאות">
          {{wrong}}
        </span>
      </div>
    </footer>
		
		<script src="data.js"></script>
		<script src="index.js"></script>
  </body>
</html>
